[Unit]
Description=gunicorn-mysite
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=gunicorn-mysite
Group=gunicorn-mysite
Restart=always

ExecStart=/usr/bin/gunicorn --workers=4 --log-level=debug mysite.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

WorkingDirectory=/path/to/mysite
Environment=PYTHONPATH='/path/to/mysite'

PrivateTmp=true
