[Unit]
Description=gunicorn service for %i
PartOf=gunicorn.service
ReloadPropagatedFrom=gunicorn.service
After=network.target
Documentation=man:gunicorn(8)

[Service]
User=www-data
Group=www-data
PrivateTmp=true
Restart=always
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
