[Unit]
Description=gunicorn3 service for %i
PartOf=gunicorn3.service
ReloadPropagatedFrom=gunicorn3.service
After=network.target
Documentation=man:gunicorn3(8)

[Service]
User=www-data
Group=www-data
PrivateTmp=true
Restart=always
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
